<% include header %>

  <h1><%-title %></h1>
  <p>Welcome to <%-title %></p>

<input id="name" type="text" value="Name" />Your nickname
<input id="message" type="text" value="type here" /><input type="button" onclick="sendMessage()" value="Message"/>
<div id="chat"> 
&nbsp;
</div>

<% include footer %>